* {
    margin: 0;
}

.s-nav {
    background-color: #232a33;
    height: 94px;
    color: rgb(114, 115, 116);
}

.s-nav>* {
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 5px;
    top: 5px;
}